section {
  height: 100%;
  width: 71%;
  margin-left: 17%;
  border: 1px solid blue;
  border-radius: 20px;

  h1 {
    text-align: center;
  }
}

.section1 {
  background-color: white;
  padding-bottom: 5%;
  padding-top: 5%;
  margin-top: 2%;
}
